* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  color: whitesmoke;
  background-color: rgb(43, 41, 68);
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

footer {
  padding: 10px;
  position: absolute;
  bottom: 0px;
}
